@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
button{
    all: unset;
    padding: 6px 16px;
    background:red;
    height: 32px;
    color: white;
    font-weight: 500
}
nav{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    height: 72px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.hero-content{
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.shopping{
    font-size: 14px;
    margin-bottom: 8px;
}
.brand-icons{
    display: flex;
    gap: 16px;
}
.secondary-btn{
    background: transparent;
    width: 60px;
    color: gray;
    border: 1px solid gray;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 24px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.hero{
    display: flex;
}
.hero-btn{
    margin: 40px;
}